.aboutContainer {
  position: relative;
  padding-bottom: 24px;
}

.phoneInputContainer,
.emailInput {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.about {
  width: 100%;
  min-height: 84px;
  padding: 12px;
  margin-top: 8px;

  border: 1px solid var(--input-border-clr);
  border-radius: 4px;

  resize: none;
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: 0;

  color: var(--clr-danger);
  font-weight: 700;
}

.counter {
  position: absolute;
  bottom: 35px;
  right: 12px;

  font-weight: 700;
}

.counterError {
  color: var(--clr-danger);
}
