.wrapper {
  display: flex;
  align-items: center;
}

.linkContainer {
  margin-left: 5px;
}

.link {
  font-size: var(--fs-4);
  color: var(--clr-primary);
}

.link:hover,
.link:focus {
  color: var(--clr-primary-dk);
  text-decoration: underline; 
}

