.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.title {
  margin-bottom: 30px;
  padding-top: 50px;
  
  text-align: center;
}

.link {
  font-size: var(--fs-2);
  font-weight: 700;

  color: var(--clr-primary);  
}

.link:hover,
.link:focus {
  color: var(--clr-primary-dk);
  text-decoration: underline;
} 